body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text  {
    color: grey;
}

.section {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cotainer {
    background-color: snow;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10x;
    margin-bottom: 10px;
}
.topnav{
    padding: 15px;
}